/*=============== VARIABLES CSS ===============*/
:root {
  --first-color: #2c3e50; /* Azul escuro */
  --first-color-alt: #1a252f; /* Azul mais escuro */
  --second-color: #3498db; /* Azul claro */
  --second-color-alt: #2980b9; /* Azul médio */
  --white-color: #ffffff; /* Branco */
  --text-color: #ecf0f1; /* Cinza claro */
  --body-color: #34495e; /* Azul acinzentado */
  --input-color: #2c3e50; /* Azul escuro */
  --success-color: #27ae60; /* Verde */
  --warning-color: #e67e22; /* Laranja */
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--white-color);
}

a {
  text-decoration: none;
  color: var(--second-color);
}

a:hover {
  color: var(--second-color-alt);
}

/*=============== HERO SECTION ===============*/
.hero-section {
  text-align: center;
  padding: 3rem;
  width: 100%;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  background: linear-gradient(
    120deg,
    var(--first-color),
    var(--body-color),
    var(--first-color-alt)
  );
}

.hero-section .logo {
  max-width: 200px;
  margin-bottom: -2rem;
  margin-top: -2rem;
}

.hero-section .headline h3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--white-color);
}

.hero-section .headline span {
  color: var(--second-color);
  font-weight: 600;
}

.hero-section .video-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.hero-section .video-container iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 10px;
}

.hero-section .cta-button {
  background-color: var(--second-color);
  color: var(--white-color);
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 25px;
  border: 2px solid var(--second-color);
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-top: 1.5rem;
}

.hero-section .cta-button:hover {
  background-color: var(--second-color-alt);
  transform: translateY(-3px);
}

.hero-section .payment-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.hero-section .payment-icons img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

/*=============== SECTION FUNIL ===============*/
.section-funil {
  padding: 4rem 1rem;
  text-align: center;
  background-color: var(--first-color-alt);
}

.section-funil .text-container {
  max-width: 800px;
  margin: 0 auto;
}

.section-funil h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--second-color);
}

.section-funil p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: var(--text-color);
}

.section-funil span {
  font-weight: 600;
  color: var(--second-color);
}

.section-funil .cta-button {
  background-color: var(--second-color);
  color: var(--white-color);
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 25px;
  border: 2px solid var(--second-color);
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-top: 1.5rem;
}

.section-funil .cta-button:hover {
  background-color: var(--second-color-alt);
  transform: translateY(-3px);
}

.section-funil .payment-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.section-funil .payment-icons img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

/*=============== SECTION VALORES E GARANTIA ===============*/
.section-valores-garantia {
  padding: 3rem 1rem;
  text-align: center;
  background-color: var(--body-color);
  color: var(--white-color);
}

.section-valores-garantia .valores-garantia-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--first-color-alt);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.section-valores-garantia .valores-content {
    flex: 1;
    background: linear-gradient(135deg, #ffd7002e, #ffa50000);
    padding: 2rem;
    border-radius: 10px;
    border: 2px solid #ffa500;
    text-align: center;
    margin-right: 1rem; /* Adicionado para espaçamento controlado */
}

.section-valores-garantia .preco-original {
  font-size: 2rem; /* Tamanho maior */
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.section-valores-garantia .preco-original .riscado {
  text-decoration: line-through;
  color: #e74c3c; /* Vermelho */
}

.section-valores-garantia .preco-promocional {
  font-size: 1.5rem; /* Tamanho maior */
  margin-bottom: 0.5rem;
}

.section-valores-garantia .preco-parcelado {
  font-size: 1.5rem; /* Tamanho maior */
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.section-valores-garantia .preco-parcelado .verde {
  color: #2ecc71; /* Verde */
}

.section-valores-garantia .preco-vista {
  font-size: 1.5rem; /* Tamanho maior */
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.section-valores-garantia .preco-vista .verde {
  color: #2ecc71; /* Verde */
}

.section-valores-garantia .detalhes {
  font-size: 1.2rem; /* Tamanho maior */
  margin-bottom: 1.5rem;
}

.section-valores-garantia .garantia-texto {
  font-size: 1.1rem; /* Tamanho maior */
  line-height: 1.6;
  margin-bottom: 1rem;
}

.section-valores-garantia .garantia-dias {
  font-size: 1.3rem; /* Tamanho maior */
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.section-valores-garantia .button-container {
  text-align: center; /* Centralizado */
}

.section-valores-garantia .cta-button {
  background-color: var(--second-color);
  color: var(--white-color);
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 25px;
  border: 2px solid var(--second-color);
  transition: transform 0.3s ease, background-color 0.3s ease;
  margin-top: 1.5rem;
  display: inline-block;
}

.section-valores-garantia .cta-button:hover {
  background-color: var(--second-color-alt);
  transform: translateY(-3px);
}

.section-valores-garantia .payment-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.section-valores-garantia .payment-icons img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

/* Lado Direito: Garantia */
.section-valores-garantia .garantia-content {
  flex: 1;
  text-align: center;
  padding: 2rem;
}

.section-valores-garantia .garantia-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--white-color);
}

.section-valores-garantia .selo-garantia {
  max-width: 150px;
  height: auto;
  margin-bottom: 1rem;
}

.section-valores-garantia .garantia-content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

/*=============== BREAKPOINTS RESPONSIVOS ===============*/
@media (max-width: 767.98px) {
  .section-valores-garantia .valores-garantia-container {
    flex-direction: column;
    text-align: center;
  }

  .section-valores-garantia .valores-content {
    text-align: center;
  }

  .section-valores-garantia .selo-garantia {
    max-width: 120px;
  }
}
/*=============== SECTION GARANTIA ===============*/
.section-garantia {
  padding: 3rem 1rem;
  text-align: center;
  background-color: var(--first-color-alt);
}

.section-garantia .garantia-container {
  max-width: 800px;
  margin: 0 auto;
}

.section-garantia h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--white-color);
}

.section-garantia p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.section-garantia .cta-button {
  background-color: var(--second-color);
  color: var(--white-color);
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 25px;
  border: 2px solid var(--second-color);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.section-garantia .cta-button:hover {
  background-color: var(--second-color-alt);
  transform: translateY(-3px);
}

/*=============== SECTION DEPOIMENTOS ===============*/
.section-depoimentos {
  padding: 3rem 1rem;
  text-align: center;
  background-color: var(--body-color);
}

.section-depoimentos .depoimentos-container {
  max-width: 800px;
  margin: 0 auto;
}

.section-depoimentos h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: var(--white-color);
}

.section-depoimentos .depoimentos-grid {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.section-depoimentos .depoimento {
  background-color: var(--first-color-alt);
  padding: 1.5rem;
  border-radius: 10px;
  width: 45%;
}

.section-depoimentos .depoimento-foto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.section-depoimentos .depoimento p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.section-depoimentos .depoimento-nome {
  font-size: 1rem;
  font-weight: 600;
  color: var(--second-color);
}

/*=============== SECTION PROFESSOR ===============*/
.section-professor {
  padding: 3rem 1rem;
  text-align: center;
  background-color: var(--first-color-alt);
  color: var(--white-color);
}

.section-professor .professor-container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-professor h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: var(--second-color);
}

.section-professor .payment-icons img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.section-professor .professor-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  text-align: left;
}

.section-professor .professor-image {
  flex: 1;
  text-align: center;
}

.section-professor .professor-foto {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(52, 152, 219, 0.3); /* Box-shadow azul bem fraco */
  transition: transform 0.3s ease;
}

.section-professor .professor-foto:hover {
  transform: scale(1.05);
}

.section-professor .professor-texto {
  flex: 2;
}

.section-professor .professor-texto h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--white-color);
}

.section-professor .professor-texto p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.section-professor .professor-texto ul {
  list-style-type: disc;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}

.section-professor strong {
  color: var(--second-color);
}

.section-professor .professor-texto ul li {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

.section-professor .button-container {
  text-align: center;
  margin-top: 1.5rem;
}

.section-professor .cta-button {
  background-color: var(--second-color);
  color: var(--white-color);
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 25px;
  border: 2px solid var(--second-color);
  transition: transform 0.3s ease, background-color 0.3s ease;
  display: inline-block;
}

.section-professor .cta-button:hover {
  background-color: var(--second-color-alt);
  transform: translateY(-3px);
}

/*=============== BREAKPOINTS RESPONSIVOS ===============*/
@media (max-width: 767.98px) {
  .section-professor .professor-content {
    flex-direction: column;
    text-align: center;
  }

  .section-professor .professor-texto ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }

  .section-professor .professor-texto ul li {
    text-align: center;
  }
}

/*=============== FOOTER ===============*/
footer.copyright {
  padding: 1rem;
  text-align: center;
  background-color: var(--first-color);
  color: var(--white-color);
  font-size: 0.9rem;
}

/*=============== BREAKPOINTS RESPONSIVOS ===============*/
@media (max-width: 575.98px) {
  .hero-section .headline h3 {
    font-size: 1rem;
  }

  .section-funil h2 {
    font-size: 1.8rem;
  }

  .section-valores .selo-garantia {
    width: 100px;
    height: 100px;
    top: -50px;
  }

  .section-depoimentos .depoimentos-grid {
    flex-direction: column;
  }

  .section-depoimentos .depoimento {
    width: 100%;
  }

  .section-professor .professor-content {
    flex-direction: column;
  }

  .section-professor .professor-foto {
    width: 200px;
    height: 200px;
  }

  .section-professor p {
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .hero-section .headline h3 {
    font-size: 2rem;
  }

  .section-funil h2 {
    font-size: 2rem;
  }

  .section-valores .selo-garantia {
    width: 120px;
    height: 120px;
    top: -60px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .hero-section .headline h3 {
    font-size: 2.5rem;
  }

  .section-funil h2 {
    font-size: 2.5rem;
  }

  .section-valores .selo-garantia {
    width: 140px;
    height: 140px;
    top: -70px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .hero-section .headline h3 {
    font-size: 3rem;
  }

  .section-funil h2 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .hero-section .headline h3 {
    font-size: 3.5rem;
  }

  .section-funil h2 {
    font-size: 3.5rem;
  }
}
